{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Education Profile</h2>
    <p>
      You can update your Education credentials below.
    </p>

    <form method="post" action="">
      {% csrf_token %}
      <div class="education-form-row spacer">
        <div class="card">
          <div class="card-body">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
              {{ form.degree.errors }}
              <label for="{{ form.degree.id_for_label }}" style="font-family: inherit;font-style: inherit;">Degree:</label>
              {{ form.degree }}
            </div>
            <div class="fieldWrapper">
              {{ form.course.errors }}
              <label for="{{ form.course.id_for_label }}" style="font-family: inherit;font-style: inherit;">Course:</label>
              {{ form.course }}
            </div>
            <div class="fieldWrapper">
              {{ form.school.errors }}
              <label for="{{ form.school.id_for_label }}" style="font-family: inherit;font-style: inherit;">School:</label>
              {{ form.school }}
            </div>
            <div class="fieldWrapper">
              {{ form.address.errors }}
              <label for="{{ form.address.id_for_label }}" style="font-family: inherit;font-style: inherit;">Address:</label>
              {{ form.address }}
            </div>
            <div class="fieldWrapper">
              {{ form.started_at.errors }}
              <label for="{{ form.started_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">Started at:</label>
              {{ form.started_at }}
            </div>
            <div class="fieldWrapper">
              {{ form.graduated_at.errors }}
              <label for="{{ form.graduated_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">Graduated at:</label>
              {{ form.graduated_at }}
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 d-flex justify-content-between">
          <a href="{% url 'sparta-education-delete' pk=form.instance.pk %}" class="btn btn-danger">Delete</a>
          <input type="submit" value="Save" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
