{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Employment Profile</h2>
    <p>
      You can update your Employment credentials below.
    </p>

    <form method="post" action="">
      {% csrf_token %}
      <div class="employment-form-row spacer">
        <div class="card">
          <div class="card-body">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.affiliation.errors }}
                <label for="{{ form.affiliation.id_for_label }}" style="font-family: inherit;font-style: inherit;">Affiliation:</label>
                {{ form.affiliation }}
            </div>
            <div class="fieldWrapper">
                {{ form.occupation.errors }}
                <label for="{{ form.occupation.id_for_label }}" style="font-family: inherit;font-style: inherit;">Occupation:</label>
                {{ form.occupation }}
            </div>
            <div class="fieldWrapper">
                {{ form.designation.errors }}
                <label for="{{ form.designation.id_for_label }}" style="font-family: inherit;font-style: inherit;">Designation:</label>
                {{ form.designation }}
            </div>
            <div class="fieldWrapper">
                {{ form.employer.errors }}
                <label for="{{ form.employer.id_for_label }}" style="font-family: inherit;font-style: inherit;">Employer:</label>
                {{ form.employer }}
            </div>
            <div class="fieldWrapper">
                {{ form.address.errors }}
                <label for="{{ form.address.id_for_label }}" style="font-family: inherit;font-style: inherit;">Address:</label>
                {{ form.address }}
            </div>
            <div class="fieldWrapper">
                {{ form.started_at.errors }}
                <label for="{{ form.started_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">Started at:</label>
                {{ form.started_at }}
            </div>
            <div class="fieldWrapper">
                {{ form.ended_at.errors }}
                <label for="{{ form.ended_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">Ended at:</label>
                {{ form.ended_at }}
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 d-flex justify-content-between">
          <a href="{% url 'sparta-employment-delete' pk=form.instance.pk %}" class="btn btn-danger">Delete</a>
          <input type="submit" value="Save" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
