{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Scholar Profile{% endblock %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">SPARTA Scholar Profile</h2>
    <p>
      You can update your SPARTA Scholar Profile below.
    </p>

    <form method="post" action="{% url 'sparta-extended-profile-update' pk=form.instance.pk %}">
      {% csrf_token %}
      <div class="education-form-row spacer">
        <div class="card">
          <div class="card-body">
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.affiliation.errors }}
                <label for="{{ form.affiliation.id_for_label }}" style="font-family: inherit;font-style: inherit;">Affiliation:</label>
                {{ form.affiliation }}
            </div>
            <div class="form-group">
                {{ form.attainment.errors }}
                <label for="{{ form.attainment.id_for_label }}" style="font-family: inherit;font-style: inherit;">Highest Educational Attainment:</label>
                {{ form.attainment }}
            </div>
            <div id="ifOtherAttain" style="display: none;">
              <div class="form-group">
                  {{ form.other_attain.errors }}
                  <label for="{{ form.other_attain.id_for_label }}" style="font-family: inherit;font-style: inherit;"><small>If you chose "Other Education" for Highest Educational Attainment, you can enter further details here:</small></label>
                  {{ form.other_attain }}
              </div>
            </div>
            <div class="form-group" style="display: inline-flex;">
                {{ form.is_employed.errors }}
                <label for="{{ form.is_employed.id_for_label }}" style="font-family: inherit;font-style: inherit;">Are you currently employed?</label>
                {{ form.is_employed }}
            </div>
            <div class="form-group">
                {{ form.grad_degree.errors }}
                <label for="{{ form.grad_degree.id_for_label }}" style="font-family: inherit;font-style: inherit;">Are you currently pursuing a post graduate degree?</label>
                {{ form.grad_degree }}
            </div>

          </div>
        </div>
      </div>
      <div class="p-3 d-flex justify-content-between">
        <input type="submit" value="Save" />
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block sparta_extra_script %}
  <script>
    $("#{{form.attainment.id_for_label}}").on("change", function() {
      var e = document.getElementById("{{form.attainment.id_for_label}}")
      if (e.options[e.selectedIndex].value == "OE") {
        document.getElementById("ifOtherAttain").style.display = "block";
      } else {
        document.getElementById("ifOtherAttain").style.display = "none";
      }
    });
  </script>
{% endblock %}
