{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Training Profile</h2>
    <p>
      You can update your Training credentials below.
    </p>

    <form method="post" action="{% url 'sparta-register-training' %}">
      {% csrf_token %}
      <div class="training-form-row spacer">
        <div class="card">
          <div class="card-body">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}" style="font-family: inherit;font-style: inherit;">Title:</label>
                {{ form.title }}
            </div>
            <div class="fieldWrapper">
                {{ form.organizer.errors }}
                <label for="{{ form.organizer.id_for_label }}" style="font-family: inherit;font-style: inherit;">Organizer:</label>
                {{ form.organizer }}
            </div>
            <div class="fieldWrapper">
                {{ form.address.errors }}
                <label for="{{ form.address.id_for_label }}" style="font-family: inherit;font-style: inherit;">Address:</label>
                {{ form.address }}
            </div>
            <div class="fieldWrapper">
                {{ form.started_at.errors }}
                <label for="{{ form.started_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">Started at:</label>
                {{ form.started_at }}
            </div>
            <div class="fieldWrapper">
                {{ form.ended_at.errors }}
                <label for="{{ form.ended_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">Ended at:</label>
                {{ form.ended_at }}
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 d-flex justify-content-between">
          <input type="submit" value="Save" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
