{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard | Profiles{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-outline-primary">Data Dashboard</a>

<form method="GET" action="" id="searchform">
  <div class="form-group">
    <label for="searchbox">Search username or email:</label>
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Username or email@domain.com"/>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>

{% for profile in profiles %}
<ul class="list-group">
  <li class="list-group-item">{{ profile.username }}</li>
  <li class="list-group-item">{{ profile.email }}</li>
  <li class="list-group-item">{{ profile.is_active }}</li>
  <li class="list-group-item">{{ profile.name }}</li>
  <li class="list-group-item">{{ profile.gender }}</li>
  <li class="list-group-item">{{ profile.address }}</li>
  <li class="list-group-item">{{ profile.municipality }}</li>
  <li class="list-group-item">{{ profile.affiliation }}</li>
  <li class="list-group-item">{{ profile.attainment }}</li>
  <li class="list-group-item">{{ profile.other_attain }}</li>
  <li class="list-group-item">{{ profile.is_employed }}</li>
  <li class="list-group-item">{{ profile.grad_degree }}</li>
</ul>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if profiles.has_previous %}
            <a href="?page={{ profiles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}.
        </span>

        {% if profiles.has_next %}
            <a href="?page={{ profiles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
