{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart', 'bar']});

  google.charts.setOnLoadCallback(drawEnrolleesByClassChart);

  function drawEnrolleesByClassChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Class', 'Count', { role: 'style'} ],
      ['Student', {{ no_of_enrollees_by_class.student }}, 'color: yellow'],
      ['Faculty', {{ no_of_enrollees_by_class.faculty }}, 'color: orange'],
      ['Private', {{ no_of_enrollees_by_class.private }}, 'color: blue'],
      ['Government', {{ no_of_enrollees_by_class.government }}, 'color: gray']
    ]);

    var options = {
      chart: {
        title: 'Number of Enrollees by Class',
        subtitle: 'Student, Faculty, Private, Government'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('Enrollees_by_class_div'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

</script>

<a href="{% url 'sparta-data-dashboard-graphs' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<br>
<div class="d-flex flex-column ">

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_class_div" class="mx-auto" style="width: 800px; height: 500px;"></div>
  </div>

</div>

{% endblock %}
