<h2 class="card-title">Your Scholar Profile</h2>
<p>
View, Edit, or Delete your Education, Employment, and Training credentials.
</p>

<h4>Education Profile</h4>
<div class="card-group">
  <div class="row">
  {% for p in education_profiles %}
    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Degree: {{ p.get_degree_display }}</li>
            <li class="list-group-item">Course: {{ p.course }}</li>
            <li class="list-group-item">School: {{ p.school }}</li>
            <li class="list-group-item">Address: {{ p.address }}</li>
            <li class="list-group-item">Started at: {{ p.started_at }}</li>
            <li class="list-group-item">Graduated at: {{ p.graduated_at }}</li>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div type="div" class="btn btn-outline-danger btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#deleteEducationModel">Delete</div>
                <!-- Modal Block -->
                <div class="modal fade" id="deleteEducationModel" tabindex="-1" role="dialog" aria-labelledby="deleteEducationModelLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteEducationModelLabel">Delete Education Credential</h5>
                        <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </div>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your Education credential "{{ p.get_degree_display }} - {{ p.course }} ({{ p.school }})"?
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'sparta-education-delete' pk=p.pk %}" method="POST">
                          {% csrf_token %}
                          <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                          <input class="btn btn-primary" id="submit" type="submit" value="Delete" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="{% url 'sparta-education-update' pk=p.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<a href="{% url 'sparta-education-create' %}" class="btn btn-outline-info">Add Education Profile</a>

<br>
<br>

<h4>Employment Profile</h4>
<div class="card-group">
  <div class="row">
  {% for p in employment_profiles %}
    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Affiliation: {{ p.get_affiliation_display }}</li>
            <li class="list-group-item">Occupation: {{ p.occupation }}</li>
            <li class="list-group-item">Designation: {{ p.designation }}</li>
            <li class="list-group-item">Employer: {{ p.employer }}</li>
            <li class="list-group-item">Address: {{ p.address }}</li>
            <li class="list-group-item">Started at: {{ p.started_at }}</li>
            <li class="list-group-item">Ended at: {{ p.ended_at }}</li>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div type="div" class="btn btn-outline-danger btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#deleteEmploymentModel">Delete</div>
                <!-- Modal Block -->
                <div class="modal fade" id="deleteEmploymentModel" tabindex="-1" role="dialog" aria-labelledby="deleteEmploymentModelLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteEmploymentModelLabel">Delete Employment Credential</h5>
                        <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </div>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your Employment credential "{{ p.get_affiliation_display }} - {{ p.occupation }}"?
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'sparta-employment-delete' pk=p.pk %}" method="POST">
                          {% csrf_token %}
                          <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                          <input class="btn btn-primary" id="submit" type="submit" value="Delete" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="{% url 'sparta-employment-update' pk=p.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<a href="{% url 'sparta-employment-create' %}" class="btn btn-outline-info">Add Employment Profile</a>

<br>
<br>

<h4>Training Profile</h4>
<div class="card-group">
  <div class="row">
    {% for p in training_profiles %}
      <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Title: {{ p.title }}</li>
              <li class="list-group-item">Organizer: {{ p.organizer }}</li>
              <li class="list-group-item">Address: {{ p.address }}</li>
              <li class="list-group-item">Started at: {{ p.started_at }}</li>
              <li class="list-group-item">Ended at: {{ p.ended_at }}</li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div type="div" class="btn btn-outline-danger btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#deleteTrainingModel">Delete</div>
                  <!-- Modal Block -->
                  <div class="modal fade" id="deleteTrainingModel" tabindex="-1" role="dialog" aria-labelledby="deleteTrainingModelLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteTrainingModelLabel">Delete Training Credential</h5>
                          <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </div>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete your Training credential "{{ p.title }}?
                        </div>
                        <div class="modal-footer">
                          <form action="{% url 'sparta-training-delete' pk=p.pk %}" method="POST">
                            {% csrf_token %}
                            <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                            <input class="btn btn-primary" id="submit" type="submit" value="Delete" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a href="{% url 'sparta-training-update' pk=p.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<a href="{% url 'sparta-training-create' %}" class="btn btn-outline-info">Add Training Profile</a>
