{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}
<h1>Admin View</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Export to CSV" />
</form>

<form action="{% url 'sparta-admin-profiles' %}" method="get">
  {% csrf_token %}
  {{ filter_form }}
  <input type="submit" value="Filter" />
</form>

<div class="card">
  <div class="card-body">
    <h2>Sparta Profiles</h2>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email Address</th>
          <th scope="col">Name</th>
          <th scope="col">Approved Pathways</th>
          <th scope="col">Active</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for profile in profiles %}
        <tr>
          <td>{{ profile.username }}</td>
          <td>{{ profile.email }}</td>
          <td>{{ profile.full_name }}</td>
          <td>
            {% for application in profile.approved_pathways %}{{ application.pathway.name }}, {% endfor %}
          </td>
          <td>
            {% if profile.is_active %}
            <i class="material-icons" style="color: green;">check_circle</i>
            {% else %}
            <i class="material-icons" style="color: red;">cancel</i>
            {% endif %}
          </td>
          <td><a class="btn btn-primary btn-sm" href="{% url 'sparta-admin-credentials' id=profile.id %}">View Credentials</a></td>
        </tr>
        {% endfor %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
