{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Your Enrollment Codes{% endblock %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    
    <h2 class="card-title">Available Courses for the {{ pathway.name|title }} Learning Pathway</h2>

    {% if coupons %}
    <div class="p">
      Use these enrollment codes to enroll and get verified access to the Learning Pathway courses for free. <a href="/coupon" target="_blank">Learn how to use enrollment codes here</a>.
    </div>
    <div class="p">
      Please <b>do not</b> share these codes with other learners. Each code can only be used once for their corresponding course and cannot be used again once redeemed for enrollment.
    </div>
    {% else %}
    <div class="p">
      There are currently no coupons available for this Learning Pathway. If you've been approved for this Learning Pathway, please wait while we process your enrollments. We'll let you know once the coupons are available via email. In the meantime, you may continue taking the courses for free in audit mode.
    </div>
    {% endif %}

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Course</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% if coupons %}
        {% for coupon in coupons %}
        <tr>
          <td>{{ coupon.courseoverview.display_name }}</td>
          <td>
            <a class="btn btn-primary" target="_blank" href="{% url 'about_course' course_id=coupon.courseoverview.id %}">
              View Course
            </a>
            <a class="btn btn-primary" data-toggle="modal" href="#approveModal">Enroll</a>
          </td>
          <!-- Modal Block -->
          <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="approveModalLabel">Enrollment Confirmation</h5>
                  <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </div>
                </div>
                <div class="modal-body">
                  Are you sure you want to enroll in the course {{ coupon.courseoverview.display_name }}?
                </div>
              
                <div class="modal-footer">
                  <form action="{% url 'sparta-enrollment-approve' username=uname course_key=coupon.courseoverview.id %}" method="POST">
                    {% csrf_token %}
                    <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                    <input class="btn btn-success" id="submit" type="submit" value="Approve" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </tr>

        {% endfor %}
        {% else %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        {% endif %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}