{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard | Employment Credentials{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-outline-primary">Data Dashboard</a>

<form method="GET" action="" id="searchform">
  <div class="form-group">
    <label for="searchbox">Search username or email:</label>
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Username or email@domain.com"/>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>

{% for credential in employment_credentials %}
<ul class="list-group">
  <li class="list-group-item">{{ credential.username }}</li>
  <li class="list-group-item">{{ credential.email }}</li>
  <li class="list-group-item">{{ credential.name }}</li>
  <li class="list-group-item">{{ credential.affiliation }}</li>
  <li class="list-group-item">{{ credential.occupation }}</li>
  <li class="list-group-item">{{ credential.designation }}</li>
  <li class="list-group-item">{{ credential.employer }}</li>
  <li class="list-group-item">{{ credential.address }}</li>
  <li class="list-group-item">{{ credential.started }}</li>
  <li class="list-group-item">{{ credential.ended }}</li>
</ul>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if employment_credentials.has_previous %}
            <a href="?page={{ employment_credentials.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ employment_credentials.number }} of {{ employment_credentials.paginator.num_pages }}.
        </span>

        {% if employment_credentials.has_next %}
            <a href="?page={{ employment_credentials.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
