{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Your Profile{% endblock %}

{% block sparta_body %}

{% if not profile.is_active %}

<section class="outside-app">
  <h1>This SPARTA profile is deactivated.</h1>
  <div>
    <p>The SPARTA team has found your credentials, which may include your education, employment, training, or document submission, invalid.</p>
    <br>
    <p>You can contact technical support if you have any questions.</p>
  </div>
</section>


{% else %}

<div class="tab col col-2">
  
  {% if has_approved_application %}
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'ScholarProfile')">Scholarship Profile</div>
  <div class="tablinks btn btn-outline-info active" onclick="openTab(event, 'Applications')">Applications</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'SpartaMicrospecializations')">Microspecializations</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'MyScholarships')">My Scholarship Programs</div>
  {% else %}
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'ScholarProfile')">Scholarship Profile</div>
  <div class="tablinks btn btn-outline-info active" onclick="openTab(event, 'Applications')">Applications</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'MyScholarships')">My Scholarship Programs</div>
  {% endif %}

</div>

<div class="card col col-10">
  <div class="card-body">

    <div id="ScholarProfile" class="tabcontent" style="display: none">
      {% include "sparta_scholar_profile.html" %}
     </div>

    <div id="Applications" class="tabcontent" style="display: block">
      <h2 class="card-title">Applications</h2>
      <section class="container-container">
        <div class="card-container">
          <div class="card-image spartabg"></div>
            <h2>SPARTA Scholarship</h2>
            <p>Project SPARTA was launched in order to put in place the necessary online education, research and development mechanisms and infrastructure to not only enable the industry of data science and analytics but also to advance smart governance practices. It aims to train and graduate 30,000 learners in data science, analytics, and related fields through online learning.</p>
              <div class="buttons">
              <a href="{% url 'sparta-main' %}">Learn More</a>
              <br>
              <a href="{% url 'sparta-application-page' %}">Apply</a>
              </div>
        </div>
      </section>
      <section class="container-container">
        <div class="card-container">
          <div class="card-image dictbg"></div>
            <h2>DICT Scholarship</h2>
            <p>The training programs within this initiative aim to upskill the Philippine workforce in various fields of study that are relevant to today’s technology driven landscape.
              <br>
              The duration of courses that will be made available to learners is a mix of international courses from Coursera as well as local online courses from the DICT’s growing content library.
            </p>
            <div class="buttons">
              <a href="https://dict.coursebank.ph">Learn More</a>
              <br>
              <a href="#">Apply</a>
            </div>
        </div>
      </section>
    </div>

    <!-- Micropathways nakahide dapat to kapag walang pathway si user -->
    <div id="SpartaMicrospecializations" class="tabcontent" style="display: none">
      <h2 class="card-title">Microspecializations</h2>
      {% for micropathway in micropathways %}
      <section class="micro-container-container">
        <div class="micro-card-container">

              <div class="microcard microbg">
                <h2 class="become-scholar_headings">{{ micropathway.name }}</h2>
              </div>
              <table class="table table-hover">
                          
                <tbody>
                  {% if pathway_is_approved %}
                    <!-- KUNG APPROVED SI PATHWAY, IDISPLAY ANG COURSES -->
                    {% for progress in learner_progress %}
                      {% if progress.micropathway_id == micropathway.id %}
                        <!-- KUNG PAREHAS NG MICROPATHWAY ANG NAKADISPLAY AT ANG PROGRESS, IDISPLAY ANG BELOW -->
                        {% if progress.required_courses <= progress.completed_courses %}
                            <!-- DITO ANG MESSAGE -->
                            <p>Congratulations on completing this Micropathway! <a target="blank" href="{% url 'sparta-main' %}">Click here to earn your Microspecialization certificate.</a></p>
                        {% else %}
                          {% for course in courses %}
                            <!-- KUNG DI PA NIYA TAPOS LAHAT NG COURSES, DISPLAY LAHAT NG BELOW -->
                            {% if course.micropathway_id == micropathway.id %}
                              <!-- KUNG ANG COURSE AY BELONG SA MICROPATHWAY NA NAKADISPLAY, IDISPLAY ANG BELOW -->
                              <tr>
                                <td>{{ course.courseoverview.display_name }}</td>
                                <td>
                                  {% if course.enrollment_status == "enrolled" %}
                                  <a class="btn btn-primary" target="_blank" href="{% url 'about_course' course_id=course.courseoverview.id %}">
                                    View
                                  </a>
                                  {% else %}
                                  <a class="btn btn-primary" data-toggle="modal" href="" data-target="#approveModal-{{ course.unique_id }}">Enroll</a>
                                  {% endif %}
                                </td>
                                <!-- Modal Block -->
                                <div class="modal fade" id="approveModal-{{ course.unique_id }}" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel-{{ course.unique_id }}" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="approveModalLabel-{{ course.unique_id }}">Enrollment Confirmation</h5>
                                        <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </div>
                                      </div>
                                      <div class="modal-body">
                                        Are you sure you want to enroll in the course {{ course.courseoverview.display_name }}?
                                      </div>
                                    
                                      <div class="modal-footer">
                                        <form action="{% url 'sparta-enrollment-approve' username=uname course_key=course.courseoverview.id %}" method="POST">
                                          {% csrf_token %}
                                          <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                                          <input class="btn btn-success" id="submit" type="submit" value="Confirm" />
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}     
          
                  {% else %}
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  {% endif %}
          
                </tbody>
              </table>
        </div>
      </section>
      
      {% endfor %}
    </div>
     <!--  ############################################################# -->

    <div id="MyScholarships" class="tabcontent" style="display: none">
      <h2 class="card-title">My Scholarship Programs</h2>

      <p>As a SPARTA scholar, you must select ONE of six (6) learning pathways. Once you have chosen a pathway, you will have verified access to courses under this pathway for free.</p>
      <p><a target="blank" href="{% url 'sparta-main' %}">(Click here for details about SPARTA Pathways)</a></p>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Sparta Pathway</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% if applications %}
          {% for app in applications %}
          <tr>
            <td>{{ app.pathway }}</td>
            <td>{{ app.get_status_display }}</td>
            {% if app.status == 'AP' %}
            <td>
              <div class="dropdown show">
                <a class="btn btn-primary" href="{% url 'sparta-pathway-progress' pathway_id=app.pathway.id %}">
                  Progress
                </a>
                <a class="btn btn-primary" href="{% url 'sparta-pathway-courses' pathway_id=app.pathway.id %}">
                  Courses
                </a>
                </div>
              </div>
            </td>
            {% elif app.status == 'DE' %}
            <td>-</td>
            {% else %}
            <td><div type="div" class="btn btn-outline-secondary" style="cursor: pointer" data-toggle="modal" data-target="#withdrawModal">Withdraw</div></td>
            <!-- Modal Block -->
            <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="withdrawModalLabel">Withdraw Application</h5>
                    <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </div>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to withdraw your application for this Learning Pathway ({{ app.pathway }})?
                  </div>
                  <div class="modal-footer">
                    <form action="{% url 'sparta-withdraw' id=app.id %}" method="POST">
                      {% csrf_token %}
                      <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                      <input class="btn btn-primary" id="submit" type="submit" value="Yes, Withdraw My Application" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {% endif %}
        </tbody>   
      </table>

      {% if not max_applied %}
        <a class="btn btn-primary" href="{% url 'sparta-application-page' %}">Apply for a pathway</a>
      {% endif %}
    </div>
  </div>
</div>
<style>
  :root {
      --sparta_bg    : #441116;      /*sparta official bg*/
  }

  .container-container {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  .card-container {
    background-color: lightgray;
    width: 700px;
    height: 560px;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  .card-image {
    height: 230px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .spartabg {
    background-image: url('https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/sparta-logo.png');
    background-color: maroon;
  }
  .dictbg {
    background-image: url('https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png');
    background-color: #4EBCE8;
  }
  .micro-container-container {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  .micro-card-container {
    background-color: rgb(236, 228, 228);
    /* width: 700px; */
    margin-bottom: 15px;
    border-radius: 15px;
  }
  .micro-card-container table .btn {
    border-color: var(--sparta_bg);
    background-color: var(--sparta_bg);
    width: 152px;
  }
  .micro-card-container .btn:hover {
    background-color: maroon;
  }
  .micro-card-container table td:last-child {
    text-align: right;
  }
  .microcard {
    height: 100px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .microbg{
    background-color: var(--sparta_bg);
  }
  .micro-card-container h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .micro-card-container p {
    opacity: 100%;
    color: black;
    padding: 20px;
    margin: 15px;
  }
  .card-container h2 {
    text-align: center;
    color: black;
  }
  .card-container p {
    opacity: 100%;
    color: black;
    padding: 20px;
    margin: 15px;
  }
  .buttons{
    text-align: right;
    margin-right: 15px;
  }
  .buttons a{
    text-decoration: none;
    color: white !important;
    font-family: "Helvetica", Sans-serif;
    background-color: #4EBCE8;
    border-radius: 11px 11px 11px 11px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display:inline-flex;
    }
</style>

<script>
  var sensor_name = "";
  var counter = 1;

  function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
{% endif %}
{% endblock %}
