<h2 class="card-title">Your Scholar Profile</h2>
<p>
View and update your Scholar Profile information, Education, Employment, and Training credentials.
</p>

<div class="card">
  <div class="card-body">
    <ul class="list-group list-group-flush">
    {% if extended_profile %}
      <li class="list-group-item"><b>Present Address:</b> {{ extended_profile.address }}</li>
      <li class="list-group-item"><b>Place of Residency:</b> {{ extended_profile.get_municipality_display }}</li>
      <li class="list-group-item"><b>Affiliation:</b> {{ extended_profile.get_affiliation_display }}</li>
      <li class="list-group-item"><b>Highest Educational Attainment:</b> {{ extended_profile.get_attainment_display }}</li>
      {% if extended_profile.attainment == 'OE'%}
      <li class="list-group-item">If Other Education: {{ extended_profile.other_attain }}</li>
      {% endif %}
      <li class="list-group-item"><b>Are you currently employed?</b> {% if extended_profile.is_employed %}Yes{% else %}No{% endif %}</li>
      <li class="list-group-item"><b>Are you currently pursuing a post graduate degree?</b> {{ extended_profile.get_grad_degree_display }}</li>
      <li class="list-group-item"><b>How did you learn about the program?:</b> {{ discovery }}</li>
      <li class="list-group-item"><b>SPARTA Partner Organization:</b> {{ org }}</li>
      <div class="card-body">
        <a href="{% url 'sparta-extended-profile-update' pk=extended_profile.pk %}" class="card-link">Edit</a>
      </div>
    {% else %}
      <div class="card-body d-flex justify-content-center">
        <a href="{% url 'sparta-extended-profile-create' %}" class="btn btn-primary btn-lg">Update Profile Info</a>
      </div>
    {% endif %}
    </ul>
  </div>
</div>

<br>
<br>

<h4>Education Profile</h4>
<div class="card-group">
  <div class="row">
  {% for p in education_profiles %}
    <div class="col col-xs-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><b>Degree:</b> {{ p.get_degree_display }}</li>
            <li class="list-group-item"><b>Course:</b> {{ p.course }}</li>
            <li class="list-group-item"><b>School:</b> {{ p.school }}</li>
            <li class="list-group-item"><b>Address:</b> {{ p.address }}</li>
            <li class="list-group-item"><b>Started at:</b> {{ p.started_at }}</li>
            <li class="list-group-item"><b>Graduated at:</b> {{ p.graduated_at }}</li>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div type="div" class="btn btn-outline-danger btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#deleteEducationModel">Delete</div>
                <!-- Modal Block -->
                <div class="modal fade" id="deleteEducationModel" tabindex="-1" role="dialog" aria-labelledby="deleteEducationModelLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteEducationModelLabel">Delete Education Credential</h5>
                        <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </div>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your Education credential "{{ p.get_degree_display }} - {{ p.course }} ({{ p.school }})"?
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'sparta-education-delete' pk=p.pk %}" method="POST">
                          {% csrf_token %}
                          <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                          <input class="btn btn-primary" id="submit" type="submit" value="Delete" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="{% url 'sparta-education-update' pk=p.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<a href="{% url 'sparta-education-create' %}" class="btn btn-outline-info">Add Education Credential</a>

<br>
<br>

<h4>Employment Profile</h4>
<div class="card-group">
  <div class="row">
  {% for p in employment_profiles %}
    <div class="col col-xs-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><b>Affiliation:</b> {{ p.get_affiliation_display }}</li>
            <li class="list-group-item"><b>Occupation:</b> {{ p.occupation }}</li>
            <li class="list-group-item"><b>Designation:</b> {{ p.designation }}</li>
            <li class="list-group-item"><b>Employer:</b> {{ p.employer }}</li>
            <li class="list-group-item"><b>Address:</b> {{ p.address }}</li>
            <li class="list-group-item"><b>Started at:</b> {{ p.started_at }}</li>
            <li class="list-group-item"><b>Ended at:</b> {{ p.print_ended_at }}</li>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div type="div" class="btn btn-outline-danger btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#deleteEmploymentModel">Delete</div>
                <!-- Modal Block -->
                <div class="modal fade" id="deleteEmploymentModel" tabindex="-1" role="dialog" aria-labelledby="deleteEmploymentModelLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteEmploymentModelLabel">Delete Employment Credential</h5>
                        <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </div>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your Employment credential "{{ p.get_affiliation_display }} - {{ p.occupation }}"?
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'sparta-employment-delete' pk=p.pk %}" method="POST">
                          {% csrf_token %}
                          <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                          <input class="btn btn-primary" id="submit" type="submit" value="Delete" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="{% url 'sparta-employment-update' pk=p.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<a href="{% url 'sparta-employment-create' %}" class="btn btn-outline-info">Add Employment Credential</a>

<br>
<br>

<h4>Training Profile</h4>
<div class="card-group">
  <div class="row">
    {% for p in training_profiles %}
      <div class="col col-xs-6">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Title:</b> {{ p.title }}</li>
              <li class="list-group-item"><b>Organizer:</b> {{ p.organizer }}</li>
              <li class="list-group-item"><b>Address:</b> {{ p.address }}</li>
              <li class="list-group-item"><b>Started at:</b> {{ p.started_at }}</li>
              <li class="list-group-item"><b>Ended at:</b> {{ p.ended_at }}</li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div type="div" class="btn btn-outline-danger btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#deleteTrainingModel">Delete</div>
                  <!-- Modal Block -->
                  <div class="modal fade" id="deleteTrainingModel" tabindex="-1" role="dialog" aria-labelledby="deleteTrainingModelLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteTrainingModelLabel">Delete Training Credential</h5>
                          <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </div>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete your Training credential "{{ p.title }}?
                        </div>
                        <div class="modal-footer">
                          <form action="{% url 'sparta-training-delete' pk=p.pk %}" method="POST">
                            {% csrf_token %}
                            <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                            <input class="btn btn-primary" id="submit" type="submit" value="Delete" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a href="{% url 'sparta-training-update' pk=p.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<a href="{% url 'sparta-training-create' %}" class="btn btn-outline-info">Add Training Credential</a>
