{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<h3>No. of enrollees by Class</h3>
<ul>
  <li></li>
</ul>

<h3>No. of enrollees by Age</h3>
<ul>
  <li></li>
</ul>

<h3>No. of enrollees by Gender</h3>
<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h3>No. of enrollees by Location</h3>
<ul>
  <li></li>
</ul>

<h3>Courses</h3>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h3>No. of enrollees by Date</h3>
<ul>
  <li></li>
</ul>

{% endblock %}
