{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Registration{% endblock %}

{% block sparta_body %}
<div class="progress">
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;" aria-valuenow="0">
    Step 1: Eligibility Requirements
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 20%;font-size: 1.25em;" aria-valuenow="0">
    Step 2: Scholar Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 3: Education Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 4: Employment Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 5: Training Profile
  </div>
</div>
<div class="progress">
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;font-weight: bolder;" aria-valuenow="0">^</div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Register to become a SPARTA Scholar</h2>
    <div>
      Become a SPARTA Scholar and gain free access to the data analytics courses. Please submit the following eligibility document:
      <ul>
        <li><b>*Proof of Education</b> - A scanned image or a clear photograph of your certificate of graduation or diploma.</li>
      </ul>
    </div>


    <div class="card">
      <div class="card-body">
      {% if sparta_profile_form.is_multipart %}
        <form enctype="multipart/form-data" method="post" action="{% url 'sparta-register' %}">
      {% else %}
        <form method="post" action="{% url 'sparta-register' %}">
      {% endif %}
        <div class="form-group">
          {% csrf_token %}
          {{ sparta_profile_form.non_field_errors }}
          <div class="form-group">
              {{ sparta_profile_form.proof_of_education_file.errors }}
              <label for="{{ sparta_profile_form.proof_of_education_file.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Proof of Education:</label>
              {{ sparta_profile_form.proof_of_education_file }}
              <small>File size must not be larger than 2.5MB.</small>
          </div>
          <div class="form-group">
              {{ sparta_profile_form.tos_yes.errors }}
              {{ sparta_profile_form.tos_yes }}
              <label for="{{ sparta_profile_form.tos_yes.id_for_label }}" style="font-family: inherit;font-style: inherit;">I agree to the <a href="{% url 'sparta-tos' %}" target="_blank">SPARTA Scholarship Terms and Conditions</a> and <a href="/honor" target="_blank">Coursebank Honor Code</a>*</label>
          </div>
          <div class="form-group">
            <p>
              The SPARTA Scholarship program is only open for Filipinos currently in the Philippines. At this time, the program is not accepting applications from learners outside of the country.  Please confirm below to start your application to the SPARTA Scholarship program. We hope that you be honest in confirming so and know that revocation of scholarship is highly likely for individuals that will not adhere to the guidelines set forth.
            </p>
              {{ sparta_profile_form.citizenship.errors }}
              {{ sparta_profile_form.citizenship }}
              <label for="{{ sparta_profile_form.citizenship.id_for_label }}" style="font-family: inherit;font-style: inherit;">I am confirming that I am a Filipino citizen currently residing in the Philippines.*</label>
          </div>
          <div class="form-group">
            <label for="{{ sparta_profile_form.discovery.id_for_label }}" style="font-family: inherit;font-style: inherit;">How did you learn about the program?:</label>
            {{ sparta_profile_form.discovery }}
            {{ sparta_profile_form.discovery.errors }}
          </div>
          <div class="form-group">
            <label for="{{ sparta_profile_form.org.id_for_label }}" style="font-family: inherit;font-style: inherit;">Select the SPARTA partner organization:</label>
            {{ sparta_profile_form.org }}
            {{ sparta_profile_form.org.errors }}
            <br>
            <i>*If you are not involved in any of these organizations, choose <b>N/A</b></i>
          </div>
          <div class="form-group" id="ccap_div" style="display:none;">
            <label for="{{ sparta_profile_form.ccap_sub.id_for_label }}" style="font-family: inherit;font-style: inherit;">Specify CCAP Organization:</label>
            {{ sparta_profile_form.ccap_sub }}
            {{ sparta_profile_form.ccap_sub.errors }}
          </div>
          <div class="form-group" id="lgu_div" style="display:none;">
            <label for="{{ sparta_profile_form.lgu_sub.id_for_label }}" style="font-family: inherit;font-style: inherit;">Specify Partner LGU Organization:</label>
            {{ sparta_profile_form.lgu_sub }}
            {{ sparta_profile_form.lgu_sub.errors }}
          </div>

          <div class="d-flex justify-content-center">
            <input type="submit" value="Submit Eligibility Documents" />
            <span class="pl-2 icon fa fa-angle-double-right fa-2x"></span>
          </div>
        </div>
        </form>
      </div>
    </div>

    </div>
</div>
{% endblock %}
