{% block sparta_base %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<section>
    <div class="swiper mySwiper swiper-container">
        <div class="swiper-wrapper swiper-content">
            {% for micropathway in micropathways %}
            <div class="container-grid col col-12 col-lg-4 col-xl-4 col-sm-12 col-md-6 pathways_container-1">
            <a href="{% url 'sparta-micropathway' slug=micropathway.slug %}" class="link-container mx-auto link-container-1">
                <div class="container-grid {{ micropathway.slug }}_image">
                    <h1 class="heading-1" style="text-align: left;">{{ micropathway.name }}</h1>
                </div>
                <div class="rule rule-1">
                    <hr>
                </div>
                    {{ micropathway.card_description|safe }}
            </a>
            </div>
            {% endfor %}
        </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    </div>
</section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock %}