{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Apply for a pathway</h2>
    <p><a target="blank" href="{% url 'sparta-main' %}">Click here for pathway details.</a></p>

    {% for pathway in pathways %}
    <div type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#apply-{{ pathway.id }}-Modal">{{ pathway.name }}</div>
    <!-- Modal Block -->
    <div class="modal fade" id="apply-{{ pathway.id }}-Modal" tabindex="-1" role="dialog" aria-labelledby="apply-{{ pathway.id }}-ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="apply-{{ pathway.id }}-ModalLabel">Confirm Application</h5>
            <div type="button" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          </div>
          <div class="modal-body">
            Are you sure you want to submit your application for this Learning Pathway: ({{ pathway.name }})?
          </div>
          <div class="modal-footer">
            <form action="{% url 'sparta-apply' id=pathway.id %}" method="POST">
              {% csrf_token %}
              <div type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
              <input class="btn btn-primary" id="submit" type="submit" value="Yes, Submit My Application" />
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if not pathways %}
      <p>You have no more Learning Pathways to apply for.</p>
    {% endif %}


  </div>
</div>

{% endblock %}
