{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<h3>No. of enrollees by Class</h3>
<ul>
  {% for class in no_of_enrollees_by_class %}
  <li>Student: {{ class.student }}</li>
  <li>Faculty: {{ class.faculty }}</li>
  <li>Private: {{ class.private }}</li>
  <li>Government: {{ class.government }}</li>
  {% endfor %}
</ul>

<br>
<hr>
<br>

<h3>No. of enrollees by Age</h3>
<ul>
  {% for a in no_of_enrollees_by_age %}
  <li>{{ a.age }}: {{ a.count }}</li>
  {% endfor %}
</ul>

<br>
<hr>
<br>

<h3>No. of enrollees by Gender</h3>
<ul>
  {% for g in no_of_enrollees_by_gender %}
  <li>Male: {{ g.male }}</li>
  <li>Female: {{ g.female }}</li>
  <li>Other: {{ g.other }}</li>
  {% endfor %}
</ul>

<br>
<hr>
<br>

<h3>No. of enrollees by Location</h3>
<ul>
  {% for c in no_of_enrollees_by_location %}
  <li>{{ c.city }}: {{ c.count }}</li>
  {% endfor %}
</ul>

<br>
<hr>
<br>

<h3>Courses</h3>
{% for course in courses %}
<ul>
  <li>Course_ID: {{ course.course_id }}</li>
  <li>Name: {{ course.name }}</li>
  <li>No. of Completed: {{ course.no_of_completed }}</li>
  <li>Percent Completed: {{ course.percent_completed }}</li>
  <li>No. of Audit Enrollees: {{ course.no_of_audit_enrollees }}</li>
  <li>No. of Honor Enrollees: {{ course.no_of_honor_enrollees }}</li>
  <li>No. of Verified Enrollees: {{ course.no_of_verified_enrollees }}</li>
  <li>Total No. of Enrollees: {{ course.total_no_of_enrollees }}</li>
</ul>
{% endfor %}

<br>
<hr>
<br>

<h3>No. of enrollees by Date</h3>
<ul>
  {% for d in no_of_enrollees_by_date %}
  <li>{{ d.date }}: {{ d.count }}</li>
  {% endfor %}
</ul>

{% endblock %}
