{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}
<h1>Admin View</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Export to CSV" />
</form>

<h2>SPARTA Data Dashboard - Learning Pathway - {{ pathway.name }}</h2>

<div class="row">

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Number of Pathway Enrollees
      </div>
      <div class="card-body">
        <div class="card-title">
          {{no_of_pathway_enrollees}}
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Number of Pathway Learners in Progress
      </div>
      <div class="card-body">
        <div class="card-title">
          {{no_of_pathway_learners_in_progress}}
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        % of Pathway Learners in Progress
      </div>
      <div class="card-body">
        <div class="card-title">
          {{percent_of_pathway_learners_in_progress}}%
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Number of Active Pathway Learners
      </div>
      <div class="card-body">
        <div class="card-title">
          {{no_of_active_pathway_learners}}
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        % of Active Pathway Learners
      </div>
      <div class="card-body">
        <div class="card-title">
          {{percent_of_active_pathway_learners}}%
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Number of Inactive Pathway Learners
      </div>
      <div class="card-body">
        <div class="card-title">
          {{no_of_inactive_pathway_learners}}
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        % of Inactive Pathway Learners
      </div>
      <div class="card-body">
        <div class="card-title">
          {{percent_of_inactive_pathway_learners}}%
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Number of Dropped Out Pathway Learners
      </div>
      <div class="card-body">
        <div class="card-title">
          {{no_of_dropped_out_pathway_learners}}
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Pathway Dropout Rate
      </div>
      <div class="card-body">
        <div class="card-title">
          {{pathway_dropout_rate}}%
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Number of Pathway Graduates
      </div>
      <div class="card-body">
        <div class="card-title">
          {{no_of_pathway_graduates}}
        </div>
      </div>
    </div>
  </div>

  <div class="col col-3 col-sm-3">
    <div class="card text-center mb-3">
      <div class="card-header">
        Pathway Graduation Rate
      </div>
      <div class="card-body">
        <div class="card-title">
          {{pathway_graduation_rate}}%
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
