{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Your Profile{% endblock %}

{% block sparta_body %}

{% if not profile.is_active %}

<section class="outside-app">
  <h1>This SPARTA profile is deactivated.</h1>
  <div>
    <p>The SPARTA team has found your credentials, which may include your education, employment, training, or document submission, invalid.</p>
    <br>
    <p>You can contact technical support if you have any questions.</p>
  </div>
</section>


{% else %}
<div class="tab col col-2">
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'ScholarProfile')">Scholarship Profile</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'LearningPathways')">Pathway Applications</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'Courses')">Courses</div>
</div>

<div class="card col col-10">
  <div class="card-body">

    <div id="ScholarProfile" class="tabcontent">
      {% include "sparta_scholar_profile.html" %}
     </div>

    <div id="LearningPathways" class="tabcontent">
      <h2 class="card-title">Applications</h2>
      <section class="container-container">
        <div class="card-container">
          <div class="card-image spartabg">
            <h2>SPARTA Scholarship</h2>
            <p>Project SPARTA was launched in order to put in place the necessary online education, research and development mechanisms and infrastructure to not only enable the industry of data science and analytics but also to advance smart governance practices. It aims to train and graduate 30,000 learners in data science, analytics, and related fields through online learning.              
            </p>
            <a href="{% url 'sparta-main' %}">Learn More</a>
            <a href="{% url 'sparta-application-page' %}">Apply</a>
          </div>
        </div>
        <div class="card-container">
          <div class="card-image">
            <h2>DICT Scholarship</h2>
            <p>abt

            </p>
            <a href="https://dict.coursebank.ph">Learn More</a>
            <a href="{% url 'sparta-pathway-coupons' %}">Apply</a>
          </div>
        </div>
        <div class="card-container">
          <div class="card-image">
            <h2>TBA</h2>
            <p></p>
          </div>
        </div>
      </section>
    </div>
    <div id="Courses" class="tabcontent">
      {% include "sparta_pathway_coupons.html" %}
    </div>
  </div>
</div>
<style>
  .container-container {
    display: flex;
    justify-content: center;
  }
  .card-container {
    background-color: azure;
    width: 270px;
    height: 400px;
    margin: 15px;
    border-radius: 15px;
  }
  .card-image {
    background-color: lightskyblue;
    height: 130px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .spartabg {
    background-image: url('https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/sparta-logo.png');
  }
  .dictbg {
    background-image: url('https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/DICT-Logo-nobg.png');
  }
  .card-container h2 {
    text-align: center;
  }
  .card-container p {
    padding: 10px;
  }
  .card-container a {
    font-family: "Helvetica", Sans-serif;
    background-color: #4EBCE8;
    border-radius: 11px 11px 11px 11px;
    padding: 10px 20px;
  }
</style>
<script>
  function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
{% endif %}
{% endblock %}
