{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Admin | Credentials{% endblock %}

{% block sparta_body %}

<h2>Profile Details & Credentials</h2>

<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"><b>Username:</b> {{ profile.user.username }}</li>
      <li class="list-group-item"><b>Email:</b> {{ profile.user.email }}</li>
      <li class="list-group-item"><b>Name:</b> {{ profile.user.profile.name }}</li>
      <li class="list-group-item"><b>Address:</b> {{ extended_profile.address }}</li>
      <li class="list-group-item"><b>Municipality:</b> {{ extended_profile.get_municipality_display }}</li>
      <li class="list-group-item"><b>Affiliation:</b> {{ extended_profile.get_affiliation_display }}</li>
      <li class="list-group-item"><b>Attainment:</b> {{ extended_profile.get_attainment_display }}</li>
      <li class="list-group-item"><b>Other attainment:</b> {{ extended_profile.other_attain }}</li>
      <li class="list-group-item"><b>Is Employed:</b> {{ extended_profile.is_employed }}</li>
      <li class="list-group-item"><b>Graduate Degree:</b> {{ extended_profile.get_grad_degree_display }}</li>
    </ul>
  </div>
</div>

<br />

<h4>Education Profile</h4>
<div class="card-group">
  <div class="row">
  {% for p in education_profiles %}
    <div class="col col-xs-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><b>Degree:</b> {{ p.get_degree_display }}</li>
            <li class="list-group-item"><b>Course:</b> {{ p.course }}</li>
            <li class="list-group-item"><b>School:</b> {{ p.school }}</li>
            <li class="list-group-item"><b>Address:</b> {{ p.address }}</li>
            <li class="list-group-item"><b>Started at:</b> {{ p.started_at }}</li>
            <li class="list-group-item"><b>Graduated at:</b> {{ p.graduated_at }}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<br>
<br>

<h4>Employment Profile</h4>
<div class="card-group">
  <div class="row">
  {% for p in employment_profiles %}
    <div class="col col-xs-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><b>Affiliation:</b> {{ p.get_affiliation_display }}</li>
            <li class="list-group-item"><b>Occupation:</b> {{ p.occupation }}</li>
            <li class="list-group-item"><b>Designation:</b> {{ p.designation }}</li>
            <li class="list-group-item"><b>Employer:</b> {{ p.employer }}</li>
            <li class="list-group-item"><b>Address:</b> {{ p.address }}</li>
            <li class="list-group-item"><b>Started at:</b> {{ p.started_at }}</li>
            <li class="list-group-item"><b>Ended at:</b> {{ p.print_ended_at }}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<br>
<br>

<h4>Training Profile</h4>
<div class="card-group">
  <div class="row">
    {% for p in training_profiles %}
      <div class="col col-xs-6">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Title:</b> {{ p.title }}</li>
              <li class="list-group-item"><b>Organizer:</b> {{ p.organizer }}</li>
              <li class="list-group-item"><b>Address:</b> {{ p.address }}</li>
              <li class="list-group-item"><b>Started at:</b> {{ p.started_at }}</li>
              <li class="list-group-item"><b>Ended at:</b> {{ p.ended_at }}</li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
