{% extends "main_django.html" %}
{% load static %}

{% block headextra %}

<link rel="stylesheet" href="{% static 'css/sparta/bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/sparta/wireframe-theme.min.css' %}">
<script>document.createElement( "picture" );</script>
<script class="picturefill" async="async" src="{% static 'js/sparta/picturefill.min.js' %}"></script>
<script src="{% static 'js/sparta/jquery.min.js' %}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/sparta/main.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,b">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
  function changeDropdown(){
    var state = document.getElementById("{{ sparta_profile_form.org.id_for_label }}").value;
    if (state == "CP"){
      document.getElementById("lgu_div").style.display="none";
      document.getElementById("ccap_div").style.display="block";
    }
    else if (state == "LG"){
      document.getElementById("ccap_div").style.display="none";
      document.getElementById("lgu_div").style.display="block";
    }
    else {
      document.getElementById("lgu_div").style.display="none";
      document.getElementById("ccap_div").style.display="none";
    }
  }
</script>

<style>
  :root {
      --coursebank   : #17a2b8;     /*coursebank official bg*/
      --sparta_bg    : #441116;     /*sparta official bg*/
      --dict_bg      : #4ebce8;     /*dict official bg*/
  }

  * {box-sizing: border-box}

  /* Style the courses tables */
  .table-course-actions td:first-child {
    vertical-align: middle;
  }
  .table-course-actions td:last-child {
    text-align: right;
  }
  .table-course-actions .btn {
    background-color: var(--coursebank);
    border-color: var(--coursebank);
    width: 152px;
  }
  .table-course-actions .btn:hover {
    background-color: var(--dict_bg);
    border-color: var(--coursebank);
  }
  .btn-disabled {
    background-color: gray !important;
    border-color: gray !important;
    color:#fff !important;
  }
  .modal-card {
     width: 100%;
  }
  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 682px;
  }

  /* Style the buttons that are used to open the tab content */
  .tab div.btn {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab div.btn:hover {
    background-color: #ddd;
  }

  /* Create an active/current "tab button" class */
  .tab div.btn.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {

  }

  #ScholarProfile {
    display: none;
  }

  ul.errorlist {
    list-style-type: none;
    color: red;
    font-size: 0.8em;
  }
  div.form-group ul {
    list-style: none;
  }
  div.form-group li{
    display: inline;
  }

  .go-to-profile-btn {
    border: 2px solid #630b00;
    background-color: white;
    color: #630b00;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .go-to-profile-sparta {
    border-color: #630b00;
    color: #630b00;
  }

  .go-to-profile-sparta:hover {
    background-color: #630b00;
    color: white;
  }

  th {
    font-family: "Helevetica Neue", Helevetica, Arial, sans-serif;
    font-size: 16px;
  }

  td {
    font-family: "Helevetica Neue", Helevetica, Arial, sans-serif;
    font-size: 16px;
    }

  div {
    width: 100%;
  }

  .font-roboto {
    font-family: Roboto;
  }
  
</style>

{% endblock %}

{% block body %}
{% if not user.is_authenticated %}
<br>
<br>
<br>
<br>
{% endif %}

{% block sparta_body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="{% static 'js/sparta/outofview.js' %}"></script>
<script src="{% static 'js/sparta/popper.min.js' %}"></script>
<script src="{% static 'js/sparta/bootstrap.min.js' %}"></script>

{% block sparta_extra_script %}{% endblock %}

{% endblock %}
