{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Your Profile{% endblock %}

{% block sparta_body %}

{% if not profile.is_active %}

<section class="outside-app">
  <h1>This SPARTA profile is deactivated.</h1>
  <div>
    <p>The SPARTA team has found your credentials, which may include your education, employment, training, or document submission, invalid.</p>
    <br>
    <p>You can contact technical support if you have any questions.</p>
  </div>
</section>


{% else %}
<div class="tab col col-2">
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'ScholarProfile')">Scholarship Profile</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'LearningPathways')">Pathway Applications</div>
  <div class="tablinks btn btn-outline-info" onclick="openTab(event, 'Courses')">Courses</div>
</div>

<div class="card col col-10">
  <div class="card-body">

    <div id="ScholarProfile" class="tabcontent">
      {% include "sparta_scholar_profile.html" %}
     </div>

     <div id="LearningPathways" class="tabcontent">
      <h2 class="card-title">Applications</h2>



      <p>To enroll and take Sparta courses for free, you must apply for Pathways and get enrollment access to their corresponding courses. Once you apply and get accepted for a Pathway, you will receive an email with instructions on how to access the courses of the Pathway you applied for.</p>
      <p><a target="blank" href="{% url 'sparta-main' %}">(Click here for details about Sparta Pathways)</a></p>
  {% endif %}
      <table style="width: 70%; text-align: center;">
        <thead>
          <tr>
            <th>SPARTA</th>
            <th>DICT</th>
            <th>TBA</th>
          </tr>
        </thead>

        <tbody>
          <!--Status-->
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <!--Apply Button-->
          <tr>
            <td><div type="div" class="btn btn-outline-success btn-sm" style="cursor: pointer" target="blank" href="{% url 'sparta-main' %}">Apply</div></td>
            <td><div type="div" class="btn btn-outline-success btn-sm" style="cursor: pointer" target="blank" href="{% url 'sparta-main' %}">Apply</div></td>
            <td><div type="div" class="btn btn-outline-success btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#approveModal">modal test</div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="Courses" class="tabcontent">
      {% include "sparta_pathway_coupons.html" %}
    </div>
  </div>
</div>

<script>
  function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

{% endblock %}
