{% extends "sparta_base.html" %}
{% load static %}

{% block title %} Coursebank | SPARTA | Admin | Inactivity {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% block sparta_body %}
<form action="{% url 'sparta-admin-inactivity' %}" method="get">
  {% csrf_token %}
  {{ generate_form }}
  <input type="submit" value="Generate" />
</form>

<form action="" method="post">
  {% csrf_token %}
  {{ csv_form }}
  <input type="submit" value="Export to CSV" />
</form>

<script>
$(document).ready(function(){
  $('#checkbox_all').click(function(){
    $(".unenroll_checkbox").prop('checked', $ (this).prop('checked'));
  });
});
</script>

<div class="card">
  <div class="card-body">
    <h2>Six Months Unfinished Courses</h2>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Full Name</th>
          <th scope="col">Pathway</th>
          <th scope="col">Initial Access Date</th>
          <th scope="col"><input type="checkbox" id="checkbox_all"/> Select All</th>
        </tr>
      </thead>
      <tbody>
        {% for a in user_list %}
        <tr>
          <td>{{ a.username }}</td>
          <td>{{ a.email }}</td>
          <td>{{ a.name }}</td>
          <td>{{ a.pathway }}</td>
          <td>{{ a.access_date }}</td>
          <td><input type="checkbox" class="unenroll_checkbox"/></td>

          <!-- Modal Block -->
          <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="approveModalLabel">Unenroll Learners</h5>
                  <div type="div" class="close" style="cursor: pointer" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </div>
                </div>
                <div class="modal-body">
                  {% for b in user_list %}
                    {{b.username}}
                  {% endfor %}  
                  Are you sure you want to unenroll a total of {{ b.username }} learner/s in {{ course_key }}? 
                          
                </div>
                
                <div class="modal-footer">
                  <form action="{% url 'sparta-unenrollment-approve' username=a.username course_key=course_key %}" method="POST">
                    {% csrf_token %}
                    <div type="div" class="btn btn-secondary" data-dismiss="modal">Cancel</div>
                    <input class="btn btn-success" id="submit" type="submit" value="Approve" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </tr>

        {% endfor %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td><div type="div" class="btn btn-outline-success btn-sm" style="cursor: pointer" data-toggle="modal" data-target="#approveModal">Unenroll</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}