{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}
<div class="progress">
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;" aria-valuenow="0">
    Step 1: Eligibility Requirements
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 20%;font-size: 1.25em;" aria-valuenow="0">
    Step 2: Scholar Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 3: Education Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 4: Employment Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 5: Training Profile
  </div>
</div>
<div class="progress">
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;font-weight: bolder;" aria-valuenow="0"></div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;font-weight: bolder;" aria-valuenow="0"></div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;font-weight: bolder;" aria-valuenow="0">^</div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Education Profile</h2>
    <div>
      Become a SPARTA Scholar and gain free access to the data analytics courses.
      You can enter your Education credentials below to update your SPARTA scholar profile.
    </div>

    <form method="post" action="{% url 'sparta-register-education' %}">
      {% csrf_token %}
      {{ educationFormset.management_form }}
      {% for form in educationFormset %}
      <div class="education-form-row spacer">
        <div class="card">
          <div class="card-body">
            {{ form.non_field_errors }}
            <div class="form-group">
              <label for="{{ form.degree.id_for_label }}" style="font-family: inherit;font-style: inherit;">Degree:</label>
              {{ form.degree }}
              {{ form.degree.errors }}
            </div>
            <div class="form-group">
              <label for="{{ form.course.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Course/Specialization:</label>
              {{ form.course }}
              {{ form.course.errors }}
            </div>
            <div class="form-group">
              <label for="{{ form.school.id_for_label }}" style="font-family: inherit;font-style: inherit;">*School:</label>
              {{ form.school }}
              {{ form.school.errors }}
            </div>
            <div class="form-group">
              <label for="{{ form.address.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Address:</label>
              {{ form.address }}
              {{ form.address.errors }}
            </div>
            <div class="form-group">
              <label for="{{ form.started_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Started on:</label>
              {{ form.started_at }}
              {{ form.started_at.errors }}
            </div>
            <div class="form-group">
              <label for="{{ form.graduated_at.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Graduated on:</label>
              {{ form.graduated_at }}
              {{ form.graduated_at.errors }}
            </div>
            <a class="btn btn-outline-secondary education-remove-form-row float-right">Remove</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <a class="btn btn-outline-primary education-add-form-row">Add Education</a>
      <div class="p-3 d-flex justify-content-center">
        <span style="padding-right: 2em;">
          <a class="btn btn-outline-info" href="{% url 'sparta-register-employment'%}">I have no Educational credentials to submit.</a>
        </span>
        <input type="submit" value="Submit Education Profile" />
      </div>
    </form>
  </div>
</div>

<script type='text/javascript'>
function updateElementIndexEducation(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMoreEducation(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.education-form-row:not(:last)');
    conditionRow.find('.btn.education-add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('education-add-form-row').addClass('education-remove-form-row')
    .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
    return false;
}
function deleteFormEducation(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.education-form-row').remove();
        var forms = $('.education-form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndexEducation(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.education-add-form-row', function(e){
    e.preventDefault();
    cloneMoreEducation('.education-form-row:last', 'form');
    return false;
});
$(document).on('click', '.education-remove-form-row', function(e){
    e.preventDefault();
    deleteFormEducation('form', $(this));
    return false;
});
</script>

{% endblock %}
