{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="container-grid container col container-7">
  <div class="responsive-picture picture-1 mx-auto">
    <picture><img alt="Placeholder Picture" src="{% static 'images/sparta/sparta-logo.png' %}">
    </picture>
  </div>
  <p class="paragraph paragraph-2 mx-auto"><span class="paragraph-text-1">Smarter Philippines through data analytics research and development (R&D), Training and Adoption</span><br>
  </p>
</div>

<div class="container-grid container container-10 col">
  <h1 class="heading-2"><span class="heading-text-2">About Project SPARTA</span>
  </h1>
  <p class="paragraph paragraph-3"> Project SPARTA aims to put in place the necessary online education, R&D mechanisms, and infrastructure not only to enable the industry of data science and analytics, but also to foster smart governance practices.  The projects aims to graduate learners on various learning pathways in the field of data science and analytics through the developed online courses within a three-year project period.</p>
</div>

<div class="container-grid container-11">
  <div class="container-grid sd-two-cols container col">
    <div class="container-grid container-12 container">
      <h1 class="heading-4">Become a SPARTA Scholar</h1>
      <div class="paragraph paragraph-1">
        Interested applicants must register at the official <a href="https://sparta.coursebank.ph" style="color: white;">SPARTA Application Portal</a>. After registering and logging in at the Portal, applicants will be required to submit personal information and eligibility documents. Once eligible, scholars may apply for Learning Pathways, each with a unique track of data analytics-related courses.
      </div>
    </div>
    <div class="container-grid container-13"><a href="https://sparta.coursebank.ph" target="_blank" class="btn mx-auto">Register Now</a>
    </div>
  </div>
</div>

{# List of Pathways Section #}
<div class="container-grid container container-10 col">
  <h1 class="heading-2"><span class="heading-text-2">Learning Pathways</span>
  </h1>
  <p class="paragraph paragraph-3">Learners can take courses on various fields of data science and analytics through learning pathways. Explore each pathway and the courses available for enrollment.</p>
</div>
<div class="container-grid container container-9">
  <div class="container-grid row">
    {% for pathway in pathways %}
    <div class="container-grid col col-12 col-lg-4 col-xl-4 col-sm-12 col-md-6 container-1">
      <a href="{% url 'sparta-pathway' slug=pathway.slug %}" class="link-container mx-auto link-container-1">
        <div class="responsive-picture picture-1">
          <picture>
            <img alt="{{ pathway.name }} Placeholder Picture" src="{{ pathway.image_url }}">
          </picture>
        </div>
        <h1 class="heading-1">{{ pathway.name }}</h1>
        <div class="rule rule-1"><hr></div>
        <p class="paragraph paragraph-4">
          <span class="paragraph-text-2">{{ pathway.short_description }}</span>
        </p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container-grid container container-10 col">
  <h1 class="heading-2"><span class="heading-text-2">FAQ's</span>
  </h1>

  <div id="accordion">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: inherit;">
            Question #1
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: inherit;">
            Question #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: inherit;">
            Question #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-grid container col container-7">
  <div class="responsive-picture picture-1 mx-auto">
    <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="{% static 'images/sparta/sparta-logo.png' %}" media="(min-width: 1200px)"><!--[if IE 9]></video><![endif]--><img alt="Sparta Logo Placeholder Picture" src="{% static 'images/sparta/sparta-logo.png' %}">
    </picture>
  </div>
  <p class="paragraph paragraph-2 mx-auto"><span class="paragraph-text-1">Register Now to become a SPARTA Scholar and get free access to the best data science and analytics courses.</span><br>
  </p>
  <a href="https://sparta.coursebank.ph" target="_blank" class="btn mx-auto">Apply Here</a>
</div>

{% endblock %}
