{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}
<h1>Admin View</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Export to CSV" />
</form>

<h2>SPARTA Data Dashboard</h2>

<div class="row">

{% for p in pathways %}
<div class="col col-6 col-sm-6 mb-3">
  <div class="card">
    <div class="card-body">

      <h3>{{ p.pathway.name }}</h3>
      <a class="btn btn-primary btn-sm" href="{% url 'sparta-admin-pathway-analytics' slug=p.pathway.slug %}">View Data</a>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Course Title</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for course in p.courses %}
          <tr>
            <td>{{ course.overview.display_name }}</td>
            <td><a class="btn btn-primary btn-sm" href="{% url 'sparta-admin-course-analytics' course_id=course.sparta_course.course_id %}">View Data</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
