{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard | Courses{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-outline-primary">Data Dashboard</a>

{% for course in courses %}
<ul class="list-group">
  <li class="list-group-item">{{ course.course_id }}</li>
  <li class="list-group-item">{{ course.name }}</li>
  <li class="list-group-item">{{ course.no_of_completed }}</li>
  <li class="list-group-item">{{ course.percent_completed }}</li>
</ul>
{% endfor %}

{% endblock %}
