{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart', 'bar']});

  google.charts.setOnLoadCallback(drawEnrolleesByClassChart);
  google.charts.setOnLoadCallback(drawEnrolleesByAgeChart);
  google.charts.setOnLoadCallback(drawEnrolleesByGenderChart);
  google.charts.setOnLoadCallback(drawEnrolleesByLocationChart);
  google.charts.setOnLoadCallback(drawEnrolleesStatusChart);
  google.charts.setOnLoadCallback(drawEnrolleesTypeChart);
  google.charts.setOnLoadCallback(drawEnrolleesByDateChart);

  function drawEnrolleesByClassChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Class', 'Count', { role: 'style'} ],
      ['Student', {{ no_of_enrollees_by_class.student }}, 'color: yellow'],
      ['Faculty', {{ no_of_enrollees_by_class.faculty }}, 'color: orange'],
      ['Private', {{ no_of_enrollees_by_class.private }}, 'color: blue'],
      ['Government', {{ no_of_enrollees_by_class.government }}, 'color: gray']
    ]);

    var options = {
      chart: {
        title: 'Number of Enrollees by Class',
        subtitle: 'Student, Faculty, Private, Government'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('Enrollees_by_class_div'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

  function drawEnrolleesByAgeChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Age', 'Count'],
      {% for student in no_of_enrollees_by_age %}
      ["{{ student.age }}", {{ student.count }}],
      {% endfor %}
    ]);

    var options = {
      chart: {
        title: 'Number of Enrollees by Age',
        subtitle: 'Range of ages registered by learners'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('Enrollees_by_age_div'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

  function drawEnrolleesByGenderChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Gender', 'Count', { role: 'style'} ],
      ['Male', {{ no_of_enrollees_by_gender.male }}, 'color: blue'],
      ['Female', {{ no_of_enrollees_by_gender.female }}, 'color: red'],
      ['Other', {{ no_of_enrollees_by_gender.other }}, 'color: other'],
    ]);

    var options = {
      chart: {
        title: 'Number of Enrollees by Gender',
        subtitle: 'Male, Female, Other (did not say)'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('Enrollees_by_gender_div'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

  function drawEnrolleesByLocationChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Location', 'Count'],
      {% for student in no_of_enrollees_by_location %}
      ['{{ student.city }}', {{ student.count }}],
      {% endfor %}
    ]);

    var options = {
      chart: {
        title: 'Number of Enrollees by Location',
        subtitle: 'List of locations as registered by learners'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('Enrollees_by_location_div'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

  function drawEnrolleesStatusChart() {

    {% for course in courses %}
    var data_{{ course.slug }} = new google.visualization.arrayToDataTable([
      ['Status', 'Count'],
      ['Completed', {{ course.no_of_completed }}],
      ['Unfinished', {{ course.no_of_unfinished }}],
    ]);

    var options_{{ course.slug }} = {
      title: 'Enrollees Status per Course',
      width: 800,
      height: 500
    };

    var chart_{{ course.slug }} = new google.visualization.PieChart(document.getElementById('Enrollees_status_chart_div_{{ course.slug }}'));
    chart_{{ course.slug }}.draw(data_{{ course.slug }}, options_{{ course.slug }});
    {% endfor %}
  }


  function drawEnrolleesTypeChart() {

    {% for course in courses %}
    var data_{{ course.slug }} = new google.visualization.arrayToDataTable([
      ['Type', 'Count'],
      {% if course.no_of_audit_enrollees %}['Audit', {{ course.no_of_audit_enrollees }}],{% endif %}
      {% if course.no_of_honor_enrollees %}['Honor', {{ course.no_of_honor_enrollees }}],{% endif %}
      {% if course.no_of_verified_enrollees %}['Verified', {{ course.no_of_verified_enrollees }}]{% endif %}
    ]);

    var options_{{ course.slug }} = {
      title: 'Enrollees Type per Course',
      width: 800,
      height:500
    };

    var chart_{{ course.slug }} = new google.visualization.PieChart(document.getElementById('Enrollees_type_chart_div_{{ course.slug }}'));
    chart_{{ course.slug }}.draw(data_{{ course.slug }}, options_{{ course.slug }});
    {% endfor %}
  }

  function drawEnrolleesByDateChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Date', 'Count'],
      {% for student in no_of_enrollees_by_date %}
      ["{{ student.date }}", {{ student.count }}],
      {% endfor %}
    ]);

    var options = {
      chart: {
        title: 'Number of Enrollees by Date',
        subtitle: 'Up to last 30 Days'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('Enrollees_by_date_div'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

  $(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".sparta").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".sparta").hide();
            }
        });
    }).change();
  });

</script>

<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<br>
<div class="d-flex flex-column ">

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_class_div" class="mx-auto" style="width: 800px; height: 500px;"></div>
  </div>

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_age_div" class="mx-auto" style="width: 800px; height: 500px;"></div>
  </div>

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_gender_div" class="mx-auto" style="width: 800px; height: 500px;"></div>
  </div>

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_location_div" class="mx-auto" style="width: 800px; height: 500px;"></div>
  </div>

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_date_div" class="mx-auto" style="width: 800px; height: 500px;"></div>
  </div>

  <div class="p-2 flex-fill justify-content-center" style="padding:20px;">
    <h5><b>Number of Enrollees by Course</b></h5>
    <select class="font-roboto">
      {% for course in courses %}
      <option value="{{ course.slug }}">{{ course.name }}</option>
      {% endfor %}
    </select>

    {% for course in courses %}
    <div class="p-2 flex-fill justify-content-center sparta sparta {{ course.slug }}" style="display: none;">
      <div class="font-roboto">Course: {{ course.name }}</div>
      <div class="font-roboto">Course ID: {{ course.course_id }}</div>
      <div class="font-roboto">Total Number of Enrollees: {{ course.total_no_of_enrollees }}</div>
      <div id="Enrollees_type_chart_div_{{ course.slug }}" class="mx-auto"></div>
      <div id="Enrollees_status_chart_div_{{ course.slug }}" class="mx-auto"></div>
    </div>
    {% endfor %}

  </div>

{% endblock %}

{% block sparta_extra_script %}
<script>
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".sparta").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".sparta").hide();
            }
        });
    }).change();
});
</script>
{% endblock %}
