{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard | Training Credentials{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-outline-primary">Data Dashboard</a>

<form method="GET" action="" id="searchform">
  <div class="form-group">
    <label for="searchbox">Search username or email:</label>
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Username or email@domain.com"/>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>

{% for credential in training_credentials %}
<ul>
  <li>{{ credential.username }}</li>
  <li>{{ credential.email }}</li>
  <li>{{ credential.name }}</li>
  <li>{{ credential.title }}</li>
  <li>{{ credential.organizer }}</li>
  <li>{{ credential.address }}</li>
  <li>{{ credential.started }}</li>
  <li>{{ credential.ended }}</li>
</ul>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if training_credentials.has_previous %}
            <a href="?page={{ training_credentials.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ training_credentials.number }} of {{ training_credentials.paginator.num_pages }}.
        </span>

        {% if training_credentials.has_next %}
            <a href="?page={{ training_credentials.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
