{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart', 'bar']});

  google.charts.setOnLoadCallback(drawEnrolleesByClassChart);

  function drawEnrolleesByClassChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Class', 'Student', 'Faculty', 'Private', 'Government', {role: 'annotation'}],
      ['Enrollees',
      {{ no_of_enrollees_by_class.student }},
      {{ no_of_enrollees_by_class.faculty }},
      {{ no_of_enrollees_by_class.private }},
      {{ no_of_enrollees_by_class.government }}, ''],
    ]);

    var options = {title:'Number of Enrollees by Class',
                   subtitle: 'Student, Faculty, Private, Government',
                   'width':900,
                   'height':200,
                   'isStacked':true,
                   'legend': {position: 'top', maxLines: '2'}
                  };

    var chart = new google.visualization.BarChart(document.getElementById('Enrollees_by_class_div'));
    chart.draw(data, options);
  }

</script>

<a href="{% url 'sparta-data-dashboard-graphs' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<br>
<div class="d-flex flex-column ">

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_class_div" class="mx-auto"></div>
  </div>

</div>

{% endblock %}
