{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<h1>Registration successful!</h1>
<p>
  To enroll and take Sparta courses for free, you must apply for Pathways and get enrollment access to their corresponding courses. Once you apply and get accepted for a Pathway, you will receive an email with instructions on how to access the courses of the Pathway you applied for.
</p>
<div class="d-flex justify-content-center">
  <a href="{% url 'sparta-profile' %}" class="btn btn-primary">View Your SPARTA Profile Now</a>
</div>

{% endblock %}
