{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Registration{% endblock %}

{% block sparta_body %}
<div class="progress">
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;" aria-valuenow="0">
    Step 1: Eligibility Requirements
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 20%;font-size: 1.25em;" aria-valuenow="0">
    Step 2: Scholar Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 3: Education Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 4: Employment Profile
  </div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;" aria-valuenow="0" >
    Step 5: Training Profile
  </div>
</div>
<div class="progress">
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;font-weight: bolder;" aria-valuenow="0"></div>
  <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info" style="width: 20%;font-size: 1.25em;font-weight: bolder;" aria-valuenow="0">^</div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Register to become a SPARTA Scholar</h2>
    <div>
      Become a SPARTA Scholar and gain free access to the data analytics courses.
      Please submit the following information to update your scholar profile:
    </div>


    <div class="card">
      <div class="card-body">
      {% if sparta_profile_form.is_multipart %}
        <form enctype="multipart/form-data" method="post" action="{% url 'sparta-register-extended' %}">
      {% else %}
        <form method="post" action="{% url 'sparta-register-extended' %}">
      {% endif %}
        <div class="form-group">
          {% csrf_token %}
          {{ sparta_profile_form.non_field_errors }}
          <div class="form-group">
              {{ sparta_profile_form.address.errors }}
              <label for="{{ sparta_profile_form.address.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Address:</label>
              {{ sparta_profile_form.address }}
          </div>
          <div class="form-group">
              {{ sparta_profile_form.municipality.errors }}
              <label for="{{ sparta_profile_form.municipality.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Place of Residency:</label>
              {{ sparta_profile_form.municipality }}
          </div>
          <div class="form-group">
              {{ sparta_profile_form.affiliation.errors }}
              <label for="{{ sparta_profile_form.affiliation.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Affiliation:</label>
              {{ sparta_profile_form.affiliation }}
          </div>
          <div class="form-group">
              {{ sparta_profile_form.attainment.errors }}
              <label for="{{ sparta_profile_form.attainment.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Highest Educational Attainment:</label>
              {{ sparta_profile_form.attainment }}
          </div>
          <div id="ifOtherAttain" style="display: none;">
            <div class="form-group">
                {{ sparta_profile_form.other_attain.errors }}
                <label for="{{ sparta_profile_form.other_attain.id_for_label }}" style="font-family: inherit;font-style: inherit;"><small>If you chose "Other" for Highest Educational Attainment, you can enter further details here:</small></label>
                {{ sparta_profile_form.other_attain }}
            </div>
          </div>
          <div class="form-group" style="display: inline-flex;">
              {{ sparta_profile_form.is_employed.errors }}
              <label for="{{ sparta_profile_form.is_employed.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Are you currently employed?</label>
              {{ sparta_profile_form.is_employed }}
          </div>
          <div class="form-group">
              {{ sparta_profile_form.grad_degree.errors }}
              <label for="{{ sparta_profile_form.grad_degree.id_for_label }}" style="font-family: inherit;font-style: inherit;">*Are you currently pursuing a post graduate degree?</label>
              {{ sparta_profile_form.grad_degree }}
          </div>
          <div class="d-flex justify-content-center">
            <input type="submit" value="Submit Profile Information" />
            <span class="pl-2 icon fa fa-angle-double-right fa-2x"></span>
          </div>
        </div>
        </form>
      </div>
    </div>

    </div>
</div>

{% endblock %}

{% block sparta_extra_script %}
  <script>
    $("#{{sparta_profile_form.attainment.id_for_label}}").on("change", function() {
      var e = document.getElementById("{{sparta_profile_form.attainment.id_for_label}}")
      if (e.options[e.selectedIndex].value == "OE") {
        document.getElementById("ifOtherAttain").style.display = "block";
      } else {
        document.getElementById("ifOtherAttain").style.display = "none";
      }
    });
  </script>
{% endblock %}
