{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}
<h1>SPARTA Data Dashboard</h1>

<div class="text-center">
  <a href="#" class="btn btn-lg btn-outline-secondary">Profiles</a>
  <a href="#" class="btn btn-lg btn-outline-secondary">Education Credentials</a>
  <a href="#" class="btn btn-lg btn-outline-secondary">Employment Credentials</a>
  <a href="#" class="btn btn-lg btn-outline-secondary">Training Credentials</a>
  <a href="#" class="btn btn-lg btn-outline-secondary">Courses</a>
  <a href="{% url 'sparta-data-dashboard-graphs' %}" class="btn btn-lg btn-outline-primary">Graphs</a>
</div>
{% endblock %}
