{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="row">
  <div class="col col-sm-9 mx-auto">
    <h1>
      CONFORME TO THE SPARTA SCHOLARSHIP PROGRAM
    </h1>
    <p>
      This is in reference to your application to the training program under SPARTA – Smarter Philippines Through Data Analytics, R&D, Training and Adoption jointly organized by Philippines Council for Industry, Energy and Emerging Technology Research and Development (PCIEERD), Department of Science and Technology (DOST), Development Academy of the Philippines (DAP), Analytics Association of the Philippines (AAP) and Coursebank (CB).
    </p>
    <p>
      If accepted to the program, full access will be given to all courses of the learning pathway chosen and the training expenses will be covered by DOST-PCIEERD for the duration of the program.
    </p>
    <div>
      As grantee, you are expected to perform the following:
      <ol>
        <li>
          Complete the training program within the approved duration as prescribed by the course organizers;
        </li>
        <li>
          Devote necessary amount of time and carry-out the activities as stated in the plan of activities;
        </li>
          Conduct oneself professionally and use the knowledge gained in this training in the interest of the public good;
        <li>
          Pass all the assessments under the courses of the learning pathway and;
        </li>
        <li>
          Submit an Action Plan Report with necessary reporting documents at the end of his/her training to PCIEERD within (15) days upon completion for the surveillance of offshoots from the program attended;
        </li>
        <li>
          Stay in the Philippines to render a six (6) month service obligation after completion of the program; and
        </li>
        <li>
          Acknowledge the support of DOST-PCIEERD in all reports and any publication arising from the training; a copy of which should be provided to PCIEERD.
        </li>
      </ol>
      <p>
        Please note that any service rendered before completion of the training program shall not be considered as part of the return service.
      </p>
    </div>
  </div>
</div>



{% endblock %}
