{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

{% if profile %}
<div class="navbar navbar-light bg-light justify-content-center">
  <span class="navbar-brand">
    Go to your SPARTA scholar profile to view your learning pathways and profile information.
  </span>
  <span class="navbar-brand">
    <a href="{% url 'sparta-profile' %}" class="btn btn-sm go-to-profile-btn go-to-profile-sparta ">View your profile</a>
  </span>
</div>
{% endif %}

<div class="container-grid container col header_block">
    <div class="responsive-picture sparta_logo mx-auto">
      <picture><img alt="Placeholder Picture" src="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/sparta-logo.png">
      </picture>
    </div>
    <p class="paragraph paragraph-2 mx-auto"><span class="paragraph-text-1">Creating a <span class="paragraph-text-4">S</span>marter <span class="paragraph-text-5">P</span>hilippines Through Data <span class="paragraph-text-6">A</span>nalytics <span class="paragraph-text-7">R</span>esearch and <span class="paragraph-text-8">D</span>evelopment (R&amp;D), <span class="paragraph-text-9">T</span>raining and <span class="paragraph-text-10">A</span>doption</span><br>
    </p>
</div>

<div class="container-grid about_block col">
    <div class="container-grid container">
      <h1 class="about-project_headings" style="text-align: left;"><span>About Project SPARTA</span>
      </h1>
      <p class="paragraph project-sparta_paragraph"><span class="project-sparta_paragraph">Project SPARTA was launched in order to put in place the necessary online education, research and development mechanisms and infrastructure to not only enable the industry of data science and analytics but also to advance smart governance practices. It aims to train and graduate 30,000 learners in data science, analytics, and related fields through online learning. To know more about the SPARTA project, please <a href="https://sparta.dap.edu.ph">visit the official homepage</a>.</span>
      </p>
    </div>
  </div>

{# Top Call to Action #}
{% comment %} <div class="container-grid cta-1_block col">
    <div class="container-grid row">
      <div class="container-grid col-sm-12 col-md-8 col-lg-8 col-xl-8 container-4">
        <h1 class="become-scholar_headings" style="text-align: left;">Become a SPARTA Scholar</h1>
        <p class="paragraph become-scholar_paragraph">Learn data analytics. Apply for a schorlarship and join thousands of learners in this exciting new field.</p>
      </div>
      <div class="container-grid col-sm-12 col-md-4 col-lg-4 col-xl-4 container-5"><a href="{% url 'sparta-end' %}" class="btn mx-auto apply-now-2_button">APPLY&nbsp;NOW</a>
      </div>
    </div>
  </div> {% endcomment %}

{# List of Pathways Section #}
<div class="container-grid pathways_block col container">
  <div class="container-grid project-sparta_container container">
      <p class="paragraph project-courses_paragraph"><span class="paragraph-text-2">Project SPARTA scholars</span>  <span class="paragraph-text-11">can take courses on various fields of data science and analytics through learning pathways. Explore each pathway and the courses available for enrollment</span>
      </p>
  </div>
  <div class="container-grid row container-8">
    <div class="rule rule-2">
      <hr>
    </div>

    {% for pathway in pathways %}
    <div class="container-grid col col-12 col-lg-4 col-xl-4 col-sm-12 col-md-6 pathways_container-1">
      <a href="{% url 'sparta-pathway' slug=pathway.slug %}" class="link-container mx-auto link-container-1">
        <div class="container-grid {{ pathway.slug }}_image">
          <h1 class="heading-1" style="text-align: left;">{{ pathway.name }}</h1>
        </div>
        <div class="rule rule-1">
          <hr>
        </div>
        {{ pathway.card_description|safe }}
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{# List of Micro Pathways Section #}
<div class="container-grid pathways_block col container">
    <h1 style="text-align: center;" class="how-to_headings pb-2">Microspecializations</h1>
  <div class="container-grid row container-8">
    <div class="container-grid project-sparta_container container">
      <p class="paragraph project-courses_paragraph">
        <span class="paragraph-text-11">
          The microspecializations are based on the Professional Maturity Model of the Analytics Association of the Philippines (AAP) which, in turn, has its foundation from the Analytics competencies identified and recommended by the Asia-Pacific Economic Cooperation (APEC) as needed to help build a data-literate workforce. 
          &nbsp;
          They are composed of 4-5 courses which upon completion, would provide the scholars the necessary skills for a specific specialization.
        </span>
      </p>
  </div>
    <div class="rule rule-2">
      <hr>
    </div>
<div>
  <br>
  {% include "sparta_main_micropathview.html" %}
</div>
{# How To Section #}
<br>
<br>
<br>
<div class="container-grid how-to-text_container mb-5">
  <div class="d-flex align-items-center flex-column">
    <h1 style="text-align: left;" class="how-to_headings pb-2">How to become a SPARTA Scholar</h1>
    <iframe width="701" height="395" src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/SPARTA+Application+w+microspec+v2.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

{# FAQ Section #}
<div class="container-grid container container-10 col">
  <h1 class="heading-2">
    <span class="heading-text-2">Looking for answers? Click <a href="https://help.coursebank.ph/#pjsparta">HERE</a> for frequently asked questions about 
      <span class="paragraph-text-2" style="color: #511f1f !important;">Project SPARTA</span>.
    </span>
  </h1>
</div>
<!-- 
  <div id="accordion">

    {# FAQ No. 1 #}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          //<div style="border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);" class="dropdown-arrow" id="dropdown-arrow-one"></div>
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: inherit;">
            Is project Sparta free?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          For scholars, it is free. Project Sparta is a fully funded project from DOST in partnership with DAP, AAP, and Coursebank. <a href="{% url 'sparta-end' %}" target="_blank">Register and apply now</a> to get a scholarship.
        </div>
      </div>
    </div>

    {# FAQ No. 2 #}
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          //<div style="border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);" class="dropdown-arrow" id="dropdown-arrow-two"></div>
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: inherit;">
            How can you apply to project Sparta?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          After logging into your Coursebank account, applicants can apply to the SPARTA scholarship through the "SPARTA" link in the navigation bar at the top of any Coursebank page or through the "SPARTA Profile" link in their user menu.
        </div>
      </div>
    </div>

    {# FAQ No. 3 #}
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          //<div style="border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);" class="dropdown-arrow" id="dropdown-arrow-three"></div>
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: inherit;">
            Does this include a certification?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Yes, you get a certificate of completion for each course and learning pathways completed from the Development Academy of the Philippines.
        </div>
      </div>
    </div>
  </div>

</div> -->

{# Partners Section #}
<div class="container-grid partners_block">
    <div class="container-grid partners_container">
      <h1 class="partners_heading">Partners</h1>
    </div>
    <div class="container-grid row">
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 container-2">
        <div class="responsive-picture mx-auto dap_logo">
          <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/DAP.png" media="(min-width: 1200px)"><!--[if IE 9]></video><![endif]--><img alt="Placeholder Picture" src="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/DAP.png">
          </picture>
        </div>
        <h1 class="mx-auto dap_text">Development Academy of the Philippines</h1>
      </div>
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 container-3">
        <div class="responsive-picture mx-auto dost_logo">
          <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/DOST.png" media="(min-width: 1200px)"><!--[if IE 9]></video><![endif]--><img alt="Placeholder Picture" src="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/DOST.png">
          </picture>
        </div>
        <h1 class="mx-auto dost_text">Department of Science and Technology</h1>
      </div>
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 container-6">
        <div class="responsive-picture mx-auto dost-pcieerd_logo">
          <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/DOST-PCIEERD.png" media="(min-width: 1200px)"><!--[if IE 9]></video><![endif]--><img alt="Placeholder Picture" src="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/DOST-PCIEERD.png">
          </picture>
        </div>
        <h1 class="mx-auto dost-pcieetrd_text">Philippine Council for Industry, Energy, and Emerging Technology Research and Development<br>
        </h1>
      </div>
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="responsive-picture mx-auto aap_logo">
          <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/AAP.png" media="(min-width: 1200px)"><!--[if IE 9]></video><![endif]--><img alt="Placeholder Picture" src="https://coursebank-static-assets-tmtg.s3-ap-northeast-1.amazonaws.com/AAP.png">
          </picture>
        </div>
        <h1 class="mx-auto aap_text">Analytics Association of the Philippines<br>
        </h1>
      </div>
    </div>
</div>

{# Bottom Call to Action #}
<div class="container-grid cta-2_block">
    <div class="container-grid row">
      <div class="container-grid col-sm-12 col-md-8 col-lg-8 col-xl-8 container-4">
        <h1 class="start-learning_headings">Start learning Data Science today</h1>
        <p class="paragraph apply-scholarship_paragraph">Apply for scholarship and join thousands of learners in six unique learning pathways involving data.</p>
      </div>
      <div class="container-grid col-sm-12 col-md-4 col-lg-4 col-xl-4 container-5"><a href="{% url 'sparta-end' %}" class="btn mx-auto apply-now-2_button">APPLY&nbsp;NOW</a>
      </div>
    </div>
</div>

{% endblock %}
