{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard | Employment Credentials{% endblock %}

{% block sparta_body %}
<a href="{% url 'sparta-data-dashboard-main' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<form method="GET" action="" id="searchform">
  <div class="form-group">
    <label for="searchbox">Search username or email:</label>
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Username or email@domain.com"/>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>

<div class="card container-fluid">
  <div class="container-fluid">
    <h2 style="padding:15px;">Employment Credentials<h2>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Affiliation</th>
          <th scope="col">Occupation</th>
          <th scope="col">Designation</th>
          <th scope="col">Employer</th>
          <th scope="col">Address</th>
          <th scope="col">Started Date</th>
          <th scope="col">Ended Date</th>
        </tr>
      </thead>
      <tbody>
        {% for credential in employment_credentials %}
        <tr>
          <td style="min-width:250px;">{{ credential.username }}</td>
          <td style="min-width:300px;">{{ credential.email }}</td>
          <td style="min-width:250px;">{{ credential.name }}</td>
          <td style="min-width:250px;">{{ credential.affiliation }}</td>
          <td style="min-width:250px;">{{ credential.occupation }}</td>
          <td style="min-width:250px;">{{ credential.designation }}</td>
          <td style="min-width:250px;">{{ credential.employer }}</td>
          <td style="min-width:300px;">{{ credential.address }}</td>
          <td style="min-width:200px;">{{ credential.started }}</td>
          <td style="min-width:200px;">{{ credential.ended }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="pagination" style="padding:20px;">
    <span class="step-links">
        {% if employment_credentials.has_previous %}
            <a href="?page={{ employment_credentials.previous_page_number }}" class="btn btn-primary btn-sm">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ employment_credentials.number }} of {{ employment_credentials.paginator.num_pages }}.
        </span>

        {% if employment_credentials.has_next %}
            <a href="?page={{ employment_credentials.next_page_number }}" class="btn btn-primary btn-sm">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
