<div class="col-9 col-sm-6 col-md-4 course-item mb-3 mx-auto px-0" style="border-bottom: 3px solid #126f9a;box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125),inset 0 0 0 1px rgba(255,255,255,0.75);">
    <div class="card">
      <img class="p-1" src="{{ course.courseoverview.course_image_url }}" style="max-height: 150px;">
      <div class="card-body position-relative">
        <a href="{% url 'about_course' course_id=course.courseoverview.id %}">
          <h3 class="text-bold teal line-hide-2 pt-2">{{course.courseoverview.display_name}}</h3>
        </a>
        <div style="color: gray;">
          <small>
          {% if course.courseoverview.display_org_with_default != None %}
          {{course.courseoverview.display_org_with_default}}
          {% else %}
          {{course.courseoverview.org}}
          {% endif %}
          </small>
          <small> - {{course.courseoverview.display_number_with_default}}</small>
        </div>
        <div style="color: gray;">
          <small>
          {% if course.courseoverview.start_display != None %}
          Starts: {{course.courseoverview.start_display}}
          {% else %}
          Starts: {{course.courseoverview.start}}
          {% endif %}
          </small>
        </div>
      </div>
    </div>
</div>
