{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<div class="card">
  <div class="card-body">
    <h2>{{ pathway.name }}</h2>
    <p>View your progress for this Learning Pathway.</p>

    <h3 class="p-3">Courses:</h3>

    {% for course in courses %}
    <a href="{% url 'about_course' course_id=course.courseoverview.id %}">
    <div class="card">
      <div class="card-body">
        <h4>Pathway: {{ course.courseoverview.display_name }}</h4>
        {% if course.completed %}
          <h5>Status: <span class="badge badge-pill badge-success">Completed</span></h5>
        {% else %}
          <h5>Status: <span class="badge badge-pill badge-secondary">Incomplete</span></h5>
        {% endif %}
      </div>
    </div>
    </a>
    {% endfor %}

  </div>
</div>

{% endblock %}
