{% extends "sparta_base.html" %}
{% load static %}

{% block sparta_body %}

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Export to CSV" />
</form>

<form action="{% url 'sparta-admin-applications' %}" method="get">
  {% csrf_token %}
  {{ filter_form }}
  <input type="submit" value="Filter" />
</form>

<div class="card">
  <div class="card-body">
    <h2>Pending Pathway Applications</h2>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Education</th>
          <th scope="col">Employment</th>
          <th scope="col">Training</th>
        </tr>
      </thead>
      <tbody>
        {% for credential in credentials %}
        <tr>
          <td>{{ credential.username }}</td>
          <td>
            {% for e in credential.education_profiles %}
              
            {% endfor %}
          </td>
          <td>
            {% for e in credential.employment_profiles %}

            {% endfor %}
          </td>
          <td>
            {% for t in credential.training_profiles %}

            {% endfor%}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
