{% extends "sparta_base.html" %}
{% load static %}

{% block title %}Coursebank | SPARTA | Data Dashboard{% endblock %}

{% block sparta_body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart',]});

  google.charts.setOnLoadCallback(drawEnrolleesByLocationChart);

  function drawEnrolleesByLocationChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Location', 'Count'],
      {% for student in no_of_enrollees_by_location %}
      ["{{ student.city }}", {{ student.count }}],
      {% endfor %}
    ]);

    var options = {title:'Number of Enrollees by Location',
                   subtitle: 'List of locations as registered by learners',
                   width: 900,
                   height: 550,
                   sliceVisibilityThreshold: .08
                  };

    var chart = new google.visualization.PieChart(document.getElementById('Enrollees_by_location_div'));
    chart.draw(data, options);
  }

</script>

<a href="{% url 'sparta-data-dashboard-graphs' %}" class="btn btn-link">&#171; Back to Dashboard</a>

<br>
<div class="d-flex flex-column ">

  <div class="p-2 flex-fill justify-content-center">
    <div id="Enrollees_by_location_div" class="mx-auto"></div>
  </div>

</div>

{% endblock %}
